$c_blue: #00B9B4;

$c_white_001: #fff;

$c_gray_001: #999;

$c_gray_002: #4B4B4B;

$c_gray_003: #3D3D3F;

$c_black_001: #000;

$c_black_002: rgba(0,0,0,.66);

$g_blue: linear-gradient(-225deg, #77FFD2 0%, #00B9B4 100%);

$shadow_01: 5px 5px 5px rgba(0, 0, 0, .33);

$shadow_02: 5px 5px 5px rgba(0, 0, 0, .15);