doctype html
html(lang='zh-Hant-TW')
  head
    meta(charset='utf-8')
    title menu - Website
    meta(name='description', content=' ... ')
    meta(name='keywords', content='')
    meta(property='og:url', content='http://')
    meta(property='og:title', content='menu - Website')
    meta(property='og:site_name', content='Website')
    meta(property='og:image', content='images/og/image.png')
    meta(property='og:image:type', content='image/jpeg')
    meta(property='og:image:width', content='1280')
    meta(property='og:image:height', content='630')
    meta(itemprop='thumbnailUrl', content='images/og/image.png')
    meta(property='og:description', content=' ... ')
    meta(property='og:type', content='website')
    meta(property='og:locale', content='zh_TW')
    meta(property='og:locale:alternate', content='zh_TW')
    meta(name='distribution', content='Taiwan')
    meta(name='geo.region', content='tw')
    meta(name='robots', content='all')
    meta(name='copyright', content='Foundation © All Rights Reserved. 網頁設計 Design by ARTIE.')
    meta(name='author', content='web design + development by ARTIE | http://www.artiedesign.com.tw // powered by ARTIE')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(http-equiv='Expires', content='-1')
    meta(name='format-detection', content='telephone=no')
    link(href='/sitemap.xml', rel='sitemap', type='text/xml')
    link(rel="stylesheet", href="css/style.css")
    script(src="js/all.js")
  body
    .wrapper
      header
      main.main
        p 1234567891111111111111
      footer